<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Subway Tracker</title>
  <link rel='stylesheet' href='//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css'>
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/css/style.css" rel="stylesheet">
</head>

<body>
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center">
      <div class="logo mr-auto">
        <h1>MTA Subway Tracker</h1>
      </div>
    </div>
  </header>

  <main id="main">
    <section id="countdown" class="countdown">
      <div class="container">
        <div class="content d-flex flex-column justify-content-center">
          <h3>Welcome! Choose your train line and your stop to see when the next train is coming. Or, scroll down to see 
            how late each train line has been today.</h3>
            <br/>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">Choose a Line</label>
                      <select class="form-control" id="lineform">
                        <option>Select</option>
                        {% for line in lines %}
                          <option>{{ line }}</option>
                          {% endfor %}
                      </select>
                    </div>
                  </div>
              </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="form-group">
                    <label for="exampleFormControlSelect1">Choose a Stop</label>
                    <select class="form-control" id="stopform">
                      <option>Please Choose Line</option>
                    </select>
                  </div>
                </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Choose a Direction</label>
                  <select class="form-control" id="dirform">
                    <option>Select</option>
                      <option value="N">Northbound</option>
                      <option value="S">Southbound</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12">
                <a class="btn btn-primary" href="#" id="process_input" role="button">Let's See It!</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 text-left">
            <div class="text-left" id="trainfeed"></div>
          </div>
        </div>
      </div>
    </section>

    <section id="delays" class="delays">
        <div class="container text-center justify-content-center">
          <h2 class="display-4">Total Train Delays Today by Line</h2>
          <div class="row text-center justify-content-center">
              <div id="delays"></div>
          </div>
        </div>
    </section>

  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/jquery.easing/jquery.easing.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/jquery-sticky/jquery.sticky.js') }}"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>

  <script src="static/js/main.js"></script>
  <script src="static/js/app.js"></script>
</body>
</html>