
body {
  font-family: "hack";
  color: #444444;
  background-color: #fdf6e3;
}

a {
  color: #073642;
}

a:hover {
  color: #073642;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "hack"
}

.wrap {
  max-width: 1440px;
  margin: auto;
  background: #fdf6e3;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

svg {
  display: block;
  margin: auto;
}

.btn {
  background-color: #002b36;
  border-color: #002b36;
}

.btn:hover {
  background-color: #073642;
  border-color: #073642;
}

@media screen and (min-width: 601px) {
  h2.display-4 {
    font-size: 60px;
  }
}
  
@media screen and (max-width: 600px) {
    h2.display-4 {
      font-size: 30px;
  }
}

@media screen and (min-width: 601px) {
  h3 {
    font-size: 26px;
  }
}
  
@media screen and (max-width: 600px) {
    h3 {
      font-size: 18px;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 70px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  background: #fdf6e3;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

#header .logo h1 {
  font-size: 28px;
  margin: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 2px;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #fafdfb;
}

.section-title {
  text-align: center;
  padding: 30px 0;
  position: relative;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #4eb478;
  position: relative;
  z-index: 2;
}

.section-title span {
  position: absolute;
  top: 30px;
  color: #fdf6e3;
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 52px;
  text-transform: uppercase;
  line-height: 0;
}

.section-title p {
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}

@media (max-width: 575px) {
  .section-title h2 {
    font-size: 28px;
    margin-bottom: 15px;
  }
  .section-title span {
    font-size: 38px;
  }
}