<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>When's the Train?</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="jumbotron jumbotron-fluid" style="background-image: url('https://image.shutterstock.com/image-photo/white-rectangle-mosaic-tiles-texture-260nw-1288815238.jpg');
  background-size: cover">
    <h1 style="font-family: 'Baskerville'; font-style: normal; font-weight: bold; text-align: center">SUBWAY TRACKER</h1>
  </div>
    <div class="container text-center">
      <div class="jumbotron jumbotron-fluid">
          <div class="container">
              <h1 class="display-4">Welcome!</h1><br>
              <p class="lead">This web app allows you to see upcoming trains at a desired subway stop. For instance, if you  
                wanted to know when the next southbound A train will come to 125th Street, you would head to display/A/A15S.
              </p>
          </div>
      </div>
    </div>
</body>

</html>