<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>When's the Train?</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="jumbotron jumbotron-fluid" style="background-image: url('https://image.shutterstock.com/image-photo/white-rectangle-mosaic-tiles-texture-260nw-1288815238.jpg');
  background-size: cover">
    <h1 style="font-family: 'Baskerville'; font-style: normal; font-weight: bold; text-align: center">SUBWAY TRACKER</h1>
  </div>
    <div class="container text-center">
      <div class="jumbotron jumbotron-fluid">
          <div class="container">
              <h1 class="display-4">Welcome!</h1><br>
              <p class="lead">This web app allows you to see upcoming trains at a desired subway stop. To see results,
                just choose your train and then find your stop from the below dropdowns.
              </p>
          </div>
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="form-group">
              <label for="exampleFormControlSelect1">Choose a Line</label>
              <select class="form-control" id="lineform">
                {% for line in lines %}
                  <option>{{ line }}</option>
                  {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="form-group">
              <label for="exampleFormControlSelect1">Choose a Stop</label>
              <select class="form-control" id="stopform">
                {% for stop in stops %}
                  {% if 'N' in stop %}
                    <option value="{{ stop }}">{{ stops[stop] }} Northbound</option>
                  {% elif 'S' in stop %}
                    <option value="{{ stop }}">{{ stops[stop] }} Southbound</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        <a class="btn btn-primary" href="#" id="process_input" role="button">Let's See It!</a>
      </div>
    </div>
    <div class="container text-left">
      <div id="trainfeed"></div>
    </div>
    </div>
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script type=text/javascript>
      $('a#process_input').click(function() {
      $.getJSON('/display', {
        line: $( "#lineform" ).val(),
        stop: $( "#stopform" ).val()
      }, function(result) {
          $("div#trainfeed").prepend(result.data);
        });
      });
  </script>
</body>

</html>